<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.damai.dao.DmOrdersMapper">
<!--  
<insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
	insert into dm_orders values(null,#{total},now(),#{state},#{uid},#{aid})
</insert>
  -->
  <insert id="insert" useGeneratedKeys="true"  >
  <selectKey keyColumn="id" keyProperty="id" order="AFTER" resultType="int">
	select last_insert_id()
	</selectKey>
		insert into dm_orders values(null,#{total},now(),#{state},#{uid},#{aid})
	
</insert>
</mapper>